<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="dtalhes.css" />
    <title>Detalhes</title>
</head>

<body>
    <main class="container">
        <header>
            <article class="section">
                <h1>
                    <small>
                        <img src="left-arrow-logo.png" />
                    </small>
                    <strong>
                        <a href="#">Valoriza</a>
                    </strong>
                </h1>
            </article>

            <article class="section">
                <div class="categoria">
                    <p>Sua categoria é: <strong>Platinum </strong></p>
                </div>
            </article>
        </header>

        <section class="destaque">
            <article class="banner">
                <img src="banner.png" />
            </article>
            <article class="destaqueLateral">
                <h2>Divórcio - 50% de Desconto</h2>

                <div class="patrocinio">
                    <small><img src="patro.png" /></small>
                </div>

                <div class="containerResgatar">
                    <div class="btnResgatar">
                        <a href="#">
                            <strong>Resgatar teste</strong>
                        </a>
                    </div>
                </div>

            </article>
        </section>

        <section class="detalhes">
            <div>
                <strong>Informações</strong>
            </div>
            <div>
                <strong>Regulamento</strong>
            </div>
        </section>

    </main>
</body>

</html>