<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="estrutra.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700" rel="stylesheet">
</head>

<body>
    <div class="container center">
        <div class="site">
            <header>
                <div class="logo">
                    Vivo Valoriza
                </div>

                <div class="categoria">
                    <p>Sua categoria é: <strong>Platinum </strong></p>
                </div>
            </header>

            <div class="carrocel">
                <div class="banner">
                    <img src="banner.jfif" alt="">
                </div>
            </div>

            <div class="Destaque">
                <h6 class="titleDesq">Cancelamento e Alteração</h6>
            </div>

            <section class="estructureBoxs">
                <div class="boxe">
                    <img src="boxe1.jfif" alt="">
                    <p>
                        Validar card home pontos
                    </p>
                </div>
                <div class="boxe">
                    <img src="boxe2.jfif" alt="">
                    <p>
                        Validar card home pontos
                    </p>
                </div>
                <div class="boxe">
                    <img src="boxe3.jfif" alt="">
                    <p>
                        Loren ipsun lorem lorem
                    </p>
                </div>

                <div class="boxe">
                    <img src="boxe4.jfif" alt="">
                    <p>
                        Loren ipsun lorem lorem
                    </p>
                </div>
            </section>

            <section class="patrocinio">
                <article>
                    <div>
                        <p>Coca</p>
                    </div>
                    <div>
                        <p>Ford</p>
                    </div>
                    <div>
                        <p>Marinan</p>
                    </div>
                    <div>
                        <p>Drogth</p>
                    </div>
                </article>
            </section>

            <section>
                <div></div>
            </section>

            <footer> 
                <div>
                    <strong>
                        Linke Exchange
                    </strong>
                </div>
                <div>
                    <h2>Loren Ipsun</h2>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                </div>
                <div>
                    <h2>Loren Ipsun</h2>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                </div>
                <div>
                    <h2>Loren Ipsun</h2>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                </div>
                <div>
                    <h2>Loren Ipsun</h2>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                    <span>loren loren</span>
                </div>

            </footer>



        </div>

    </div>

</body>

</html>