.container {
    .wr-main {
        .pg-distribuicao {
            display: flex;
            width: 100%;
            flex-direction: column;
            max-width: 1200px;
            margin: 0 auto;

            .containerDistribuicao {
                display: flex;
                flex-wrap: wrap;

                .box {
                    display: flex;
                    border-left: 1px solid #f6f6f6;
                    border-bottom: 1px solid #f6f6f6;
                    width: calc(34% - 9px);
                    height: 200px;

                    .boxInfo {
                        display: flex;
                        flex-direction: column;
                        width: 100%;


                        h1 {
                            font-size: 14px;
                            font-family: Arial, Helvetica, sans-serif;
                        }

                        .boxPonts {
                            display: flex;
                            flex-direction: column;
                        }

                        .btnComprar {
                            display: flex;
                            justify-content: center;

                            button {
                                border-radius: 5px;
                                width: 80%;
                                background-color: #8dc64d;
                                font-size: 14px;
                                color: #fff;
                                text-align: center;
                                margin: 8px 0;
                                padding: 8px 15px;
                                min-height: calc(54px - 4px);
                                text-transform: uppercase;
                                border: 0;
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0px 0px 40px 15px rgba(214, 214, 214, 0.7);
                        z-index: 2;
                    }

                }
            }

            .footer {
                height: 100px;

                .logos {
                    display: flex;
                    justify-content: space-between;
                    margin: 25px 25px 0 25px;
                }
            }
        }
    }
}

.main {
    display: flex;
    width: 500px;
    background: #EFEFEF;
    height: 500px;
    flex-flow: column;
    border: 1px solid red;
    color: Red;

    div {
        background: #ccc;
        margin-right: 10px;
        flex: 1 1 auto;

        .primeiroDiv {
            order: 2;
        }

        .segundoDiv {
            order: 3;
        }

        .terceiroDiv {
            order: 1;
        }
    }
}