<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layout.css" />
    <title>Layout</title>
</head>

<body>

    <div class="container">
        <nav>
            <li>
                <a href="#">Home</a>
                <a href="#">Abaout</a>
                <a href="#">Products</a>
                <a href="#">Contact</a>
            </li>
        </nav>
        <header>
            <h1 class="logo">Vivo Valoriza</h1>
            <div class="categoria">
                <p>Sua categoria é: <strong>Platinum </strong></p>
            </div>
        </header>

        <section class="carrocel">
            <article class="banner">
                <img src="banner.jfif" alt="">
            </article>
        </section>

        <div class="destaque">
            <h6 class="titleDesq">Cancelamento e Alteração</h6>
        </div>

        <section class="structureBox">
            <article class="box">
                <img src="boxe1.jfif" alt="">
                <p>
                    Validar card home pontos
                </p>
            </article>
            <article class="box">
                <img src="boxe2.jfif" alt="">
                <p>
                    Validar card home pontos
                </p>
            </article>
            <article class="box">
                <img src="boxe3.jfif" alt="">
                <p>
                    Validar card home pontos
                </p>
            </article>
            <article class="box">
                <img src="boxe4.jfif" alt="">
                <p>
                    Validar card home pontos
                </p>
            </article>
        </section>

        <footer>
            <div>
                <strong>
                    Linke Exchange
                </strong>
            </div>
            <div>
                <h2>Loren Ipsun</h2>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
            </div>
            <div>
                <h2>Loren Ipsun</h2>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
            </div>
            <div>
                <h2>Loren Ipsun</h2>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
            </div>
            <div>
                <h2>Loren Ipsun</h2>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
                <span>loren loren</span>
            </div>
        </footer>




    </div>

</body>

</html>