<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="exemplo.css">
    <title>Layout Aparelhos</title>
</head>

<body>
    <div class="container">
        <div class="wr-main">
            <div class="pg-distribuicao">
                <div class="containerDistribuicao">
                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="aparelho1.jpg" />
                        </div>
                        <div class="boxInfo">
                            <h1> iPhone 7 Rosa - 128 GB </h1>
                            <div class="boxPonts">
                                <strong>22</strong>
                                <span>pontos</span>
                            </div>
                            <div class="btnComprar">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="footer">
                    <div class="logos">
                        <img src="logo-telefonica.png" />
                        <img src="logo-viva-tudo.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>