.vitrine {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;

    ul {
        .selo-desconto {
            text-align: center;
            background-color: #000000;
            padding: 10px 0;
            height: 60px;
            display: table;
            width: 100%;

            p {
                color: #fff;
                font-family: "CorporateACon";
                font-size: 25px;
                display: table-cell;
                vertical-align: middle;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        li {
            width: calc(31% - 13px);
            float: left;
            margin-right: 15px;
            margin-left: 14px;
            margin-top: 45px;
            border: 1px solid #e2eae8;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            .descricao {
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                padding: 15px 30px;
                text-align: center;
                height: 160px;

                h4 {
                    color: #6c6b6b;
                    font-size: 15px;
                    font-weight: bold;
                }

                p {
                    font-size: 13px;
                    color: #6c6b6b;
                }
            }

            .logo-parceiro {
                height: 120px;
                position: relative;
                box-sizing: border-box;

                img {
                    max-width: calc(100% - 40px);
                    max-height: calc(100% - 40px);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            a {
                text-decoration: none;

                .btn-resgatar {
                    width: 150px;
                    height: 40px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    border-radius: 5px;
                    font-size: 15px;
                    color: #fff;
                    display: block;
                    margin: 25px auto;
                    background-color: #00adef;
                    font-weight: bold;
                    border: 0px;
                }
            }

            .logo-parceiro {
                padding: 20px 20px;
                text-align: center;
            }

        }
    }
}