.box-divs div {
    width: 10%;
    border: 2px solid orange;
    background: blueviolet;
    height: 70px;
}

.box-divs .primeiro {
    order: -1;
    align-self: center;
}

.box-divs .segundo {
    align-self: flex-end;
}

.box-divs div:nth-child(2) {background: green; }
.box-divs div:nth-child(3) {background: pink; }
.box-divs div:nth-child(4) {background: blue; }
.box-divs div:nth-child(5) {background: tomato; }
.box-divs div:nth-child(6) {background: yellowgreen; }
.box-divs div:nth-child(7) {background: yellow; }
.box-divs div:nth-child(8) {background: purple; }

.box-divs {
    display: flex;
    justify-content: space-around;
    height: 400px;
    border: 1px solid;  
}

/* Segunda estrutura */
.contDouble {
    margin-top: 10px;
    border: 1px solid;  
}
.estruraThow div {
    width: 10%;
    border: 2px solid cadetblue;
    background: blueviolet;
    height: 70px;
}

.estruraThow div:nth-child(1){background: green; }
.estruraThow {
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}